.col-md-4 {
	background: #ccffcc;
}

.a_none {}

.a_none a:hover {
	text-decoration: none;
}

.title {
	font-size: 18px;
	color: white;
	float: left;
	margin-bottom: 8px;
}

.star {
	color: red;
	width: 30%;
	float: right;
	font-size: 18px;
}

.left_head {
	width: 85%;
	height: 30px;
	font-size: 18px;
	margin-bottom: 15px;
}

.search {
	width: 85%;
	height: 50px;
}

.btn {
	width: 15%;
}

.short {
	width: 200px;
}

.f_left {
	float: left;
}

.f_right {
	float: right;
}

.left_li {
	width: 85%;
	height: 50px;
	background: #ADFF2F;
	border-radius: 25px;
	font-size: 16px;
	text-align: center;
	line-height: 50px;
	margin-bottom: 5px;
	color: white;
	position: relative;
}

.clear {
	clear: both;
}

.active {
	background: dodgerblue;
}

.greenyellow {
	color: greenyellow;
}

.orange {
	color: orange;
}

.red {
	color: red;
}

#cover {
	width: 100%;
	height: 100%;
	background: gray;
	opacity: .6;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 50;
	display: none;
}

#addThing {
	width: 500px;
	height: 260px;
	background: white;
	border-radius: 25px;
	position: absolute;
	top: 200px;
	left: 400px;
	z-index: 100;
	padding: 20px 20px;
	display: none;
}

.close {
	float: right;
	width: 25px;
	height: 25px;
	z-index: 60;
	position: absolute;
	top: 9px;
	left: 620px;
}

.del_list{
	position: absolute;
	top: -10px;
	left: 240px;
	z-index: 80;
	color: red;
	cursor: pointer;
}
